.text-color-red {
    color: #a94442;
}

.text-color-white {
    color: white;
}

.form-control-espacio {
    margin-top: 0;
    margin-bottom: 30px;
}

.oculto,
.ocultoInactivo,
.ocultoFiltro {
    display: none;
}

.colorPlomo {
    background-color: #222222;
    color: white;
}

.bg-color-green {
    background-color: #76b900;
    color: white;
}

body {
    cursor: default;
}

.sobrepasa {
    /*max-height: 500px;*/
    overflow: scroll;
}

.sinBordeRedondeado {
    border: medium none;
    border-radius: 10px;
}

.scroll {
    max-height: 615px;
    overflow: auto;
}

.sinScroll {
    overflow: hidden;
    /*max-height: 700px;*/
}