.inactivo {
    color: #ccc;
}

.text-color-red {
    color: #a94442;
}

.text-color-white {
    color: white;
}

.form-control-espacio {
    margin-top: 0;
    margin-bottom: 30px;
}

.oculto,
.ocultoInactivo,
.ocultoFiltro {
    display: none;
}

.colorPlomo {
    background-color: #222222;
    color: white;
}

.bg-color-green {
    background-color: #76b900;
    color: white;
}

body {
    cursor: default;
}

.sobrepasa {
    /*max-height: 500px;*/
    overflow: scroll;
}

.contenedor_centrado {
    width: 990px;
    margin: 0 auto;
}

.sinBordeRedondeado {
    border: medium none;
    border-radius: 10px;
}

.scroll {
    max-height: 615px;
    min-height: 400px;
    overflow: auto;
}

.sinScroll {
    overflow: hidden;
    /*max-height: 700px;*/
}

.bg-color-rojo {
    color: rgba(208, 123, 80, 0.98) !important;
}

.bg-color-zulado {
    background-color: #4D6A79 !important;
}

.tip {
    color: #2E6DA4;
    font-size: 14px;
}

.bg-color-azul {
    color: #337ab7;
    text-decoration: none;
}

.espacio {
    margin-right: 3% !important;
}

.espacioRelleno {
    padding-left: 3% !important;
}

.espacioArriba {
    margin-top: 3% !important;
}

.espacioArribaFijo {
    margin-top: 25px !important;
}

.espacioAbajo {
    margin-bottom: 3% !important;
}

.espacioAbajoFijo {
    margin-bottom: 25px !important;
}

.espacioIzquierda {
    margin-left: 3% !important;
}

.espacioIzquierdaFijo {
    margin-left: 25px !important;
}

.panel-celeste {
    border-color: #5bc0de;
}

.panel-celeste > .panel-heading {
    border-color: #5bc0de;
    color: #fff;
    background-color: #5bc0de;
}

.panel-celeste > a {
    color: #5bc0de;
}

.panel-celeste > a:hover {
    color: #5bc0de;
}

a.nav-texto:hover {
    background-color: #222222 !important;
    color: #999 !important;
}

.mapa {
    height: 250px;
}

.mapaGrande {
    height: 415px;
}

.dedo {
    cursor: pointer !important;
}

.dedo:hover {
    text-decoration: none !important;
    color: #EC971F !important;
}

#evento_descripcion {
    max-height: 100px;
    min-height: 34px;
    max-width: 100%;
    min-width: 100%;
}

.mensajeFlotante {
    position: fixed;
    top: 10px;
}

.mensajeFlotanteContenedor {
    position: relative !important;

}

.mensajeFlotanteCuerpo {
    position: absolute !important;
    right: 0;
    top: 0;
    z-index: 3;
}

/* map infowindow remove close button */
.mapa > .gm-style-iw + div {
    /*display: none;*/
}

.tieneScroll {
    overflow: auto;
}

.contraer {
    white-space: normal !important;
}

.textoCentrado {
    text-align: center !important;
}

.sinRellenoDerecho{
    padding-right: 0;
}

.sinRellenoIzquierdo{
    padding-left: 0;
}

.text-color-white{
    color: #FFF;
}