.usuario {
    background: url("../icons/user-silhouette.png") no-repeat center;
    background-color: white;
}

.contrasena {
    background: url("../icons/key-solid.png") no-repeat center;
    background-color: white;
}